#tmv-admin-api-01
API_CLIENT=
API_TOKEN_SIGN=
API_TOKEN_EXPIRATION_TIME=
API_CREATE_ADMIN= #1 yes or 0 no
API_LOG= #1 yes or 0 no
API_PORT=
API_SMTP_USER=
API_SMTP_PASS=
API_SMTP_HOST=
API_SMTP_PORT=

#tmv-admin-db-01
DB_USERS_USER=root
DB_USERS_PASSWORD=
DB_USERS_DATABASE=
DB_USERS_HOST=
DB_USERS_PORT=

#tmv-admin-db-02
DB_DATA_USER=
DB_DATA_PASSWORD=
DB_DATA_DATABASE=
DB_DATA_HOST=
DB_DATA_PORT=
DB_DATA_TZ=America/Bogota

#tmv-admin-ui
REACT_APP_UI_PORT=
REACT_APP_API_HOST=

#tmv-admin-mongoexpress
DB_MONGOEXPRESS_USER=
DB_MONGOEXPRESS_PASSWORD=
DB_MONGOEXPRESS_PORT=
DB_MONGOEXPRESS_URL= #mongodb://root:password@host:port/

#tmv-admin-pgadmin
DB_PGADMIN=
DB_PGADMIN_PASSWORD=
DB_PGADMIN_PORT=

#tmv-admin-duckdns
DDNS_PUID=1000 #optional
DDNS_PGID=1000 #optional
DDNS_SUBDOMAINS=
DDNS_TOKEN=
DDNS_LOGFILE=true #optional